body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
    transition: width 0.5s;
    transition-delay: 0ms;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    /*display: flex;
    justify-content: space-around;*/
    text-align: center;
    background: #fffbdb;
    color: #2b2839;
    border-bottom: 6px solid #cca43b;
    border-radius:20px;
    transition: background 1s, border-bottom 1s;
    transition-delay: 0ms;
}

.card:hover{
    cursor: pointer;
    background: #cca43b;
    border-bottom: 6px solid #2b2839;
}


.avatar:hover{
    width: 155px;
}

.info h3:hover,
.info p:hover,
.info h4:hover {
    transform: scale(1.1); /* Scale the text by 10% */
    transition: transform 0.5s; /* Smooth scaling effect */
    transition-delay: 0ms;
    transition: h3 1s, p 1s, h4 1s;
}


